<%- include('../includes/header') %>

<div class="ui container basic segment stackable grid">
    <%- include('../includes/user_menu') %>
    <div class="ui twelve wide column">
        <div class="ui basic segment">
            <% if(msg){ %> <%= msg %> <% } %>
            <h3> Update Password </h3>

            <div class="ui form">
                <form action="/ieeesb/u/update-password" method="post">
                    <div class="field">
                        <label for="current_password">Current Password:</label>
                        <div class="ui input">
                            <input type="password" name="current_password" placeholder="Enter current password" required><br>
                        </div>
                    </div>
                    <div class="field">
                        <label for="new_password">New Password:</label>
                        <div class="ui input">
                            <input type="password" name="new_password" placeholder="Enter New password" required><br>
                        </div>
                    </div>
                    <div class="field">
                        <label for="confirm_password">Confirm Password:</label>
                        <div class="ui input">
                            <input type="password" name="confirm_password" placeholder="Confirm New Password" required><br>
                        </div>
                    </div>
                    <div class="field">
                        <button class="ui blue submit fluid button" type="submit">UPDATE</button>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                </form>
            </div>
        </div>
    </div>

</div>

<%- include('../includes/footer') %>
