<%- include('../includes/header') %>
	
		<div class='eclass ui basic segment'>
			<h3 class='ui top attached grey inverted segment header'> <%= event.title %> </h3>
			<div class="ui bottom attached segment">
				<% if(user && user.isAdmin){ %><span style="float:right"><a href="/ieeesb/admin/update-event/<%= event.id+1000 %>"><i class="edit icon"></i></a></span><% } %>
				<b>Timings:</b>
				<span><% if(event.startDate == event.endDate){ %><%= event.startDate.toLocaleString('en-US',{month:"long",day:"numeric",year:"numeric",hour:"2-digit",minute:"2-digit"}) %><% }else{ 
					if(event.startDate.getDate() == event.endDate.getDate() && event.startDate.getMonth()==event.endDate.getMonth() && event.startDate.getFullYear()==event.endDate.getFullYear()){ %>
						<%= event.startDate.toLocaleString('en-US',{month:"long",day:"numeric",year:"numeric",hour:"2-digit",minute:"2-digit"}) %><strong> to </strong><%= event.endDate.toLocaleTimeString('en-US',{hour:"2-digit",minute:"2-digit"}) %> 
						<% }else{ %><%= event.startDate.toLocaleString('en-US',{month:"long",day:"numeric",year:"numeric",hour:"2-digit",minute:"2-digit"}) %><strong> to </strong><%= event.endDate.toLocaleString('en-US',{month:"long",day:"numeric",year:"numeric",hour:"2-digit",minute:"2-digit"}) %>
					<% }} %></span>
				<br><strong>Venue:</strong>&nbsp;&nbsp;&nbsp;<span><%=  event.venue  %></span>
				<div class="ui basic segment">
					<p>
						<img class='ui left floated image' src="/ieeesb/gallery/events/<%= event.id+1000 %>.jpg" alt="">
						<%- event.description %>
					</p>
				</div>
				<h4>Gallery:</h4><br>
				<% if(images.length==0){ %>
					<strong>No images found</strong>
				<% }else{ %>
					<div class="ui doubling four column grid">
					<% for(i of images){ %>
						<div class="ui column medium rounded image"><img src='/ieeesb/gallery/<%= event.id+1000 %>/<%= i %>'></div>
					<% }%>
					</div>
				<% } %>
			</div>
		</div>

<%- include('../includes/footer') %>
